#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
    }

    #frmMenu{
        width: 400px;
        height: 200px;
    }
    
    #totalPrice{
        width: 200px;
        height: 190px;
        margin: 20 auto;
        float: right;
    }

    .left{
        width: 200px;
        height: 200px;
        float:left;
    }

    .center{
        width: 200px;
        height: 200px;
        float:left;
    }

    .right{
        width: 200px;
        height: 200px;
       float:right;
    }

    #showText{
       width: 200px;
       height: 190px;
       margin: 0px auto;
       float: left;

    }

    #cart{
        top: 0;margin: 0px auto;
        width: 400px;
        height: 200px;
    }

    #btOrder{
        margin: 10px 0px 0px 100px;
        width: 100px;
        height: 40px; 
        display: block;
        margin: 25px auto;  
    }

    body{
        background-color: rgb(151, 198, 226);
    }
    h1{
        font-family: 20px;
        color: brown;
    }

    h3{
        font-family: 400px;
        color:red ;
    }

    div{
        font-family: 200px;
        color: rgb(29, 13, 44);
    }